langchain-core
langchain-ollama
langchain-openai
langchain-groq
langsmith

python-dotenv
streamlit

fastapi
uvicorn
sse-starlette

beautifulsoup4
pypdf

chromadb
faiss-cpu
sentence-transformers

groq
cassio

wikipedia
arxiv